#list-marks {
  .period-menu .select-date {
    margin-bottom: 40px;
  }

  .settings-menu label {
    margin: 32px 0;
  }

  .settings-menu,
  .period-menu {
    button {
      float: right;
    }
  }

  .comments-menu>div {
    padding: 16px;
  }
}