#list-marks {
  .period-menu .select-date {
    margin-bottom: 40px;
  }

  .period-menu {
    p {
      font-size: 16px;
    }
    button {
      float: right;
    }
  }

  .comments-menu>div {
    padding: 16px;
  }
}