@import '../../../utils/variables.scss';

#places {
  @extend %page-with-header;

  main {

    section {
      @extend %card;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 32px 16px;
      margin: 22px 0;

      strong {
        text-transform: uppercase;
        flex: 1
      }

      .buttons {
        white-space: nowrap;

        button {
          // background-color: transparent;
          padding: 6px 10px;
          margin-left: 16px;

          svg {
            font-size: 20px
          }
        }
      }
    }
  }

  .new-place-menu,
  .rename-menu {
    button {
      display: block;
      margin-top: 16px;
      margin-left: auto;
    }
  }

  .new-place-menu {
    label {
      margin-top: 16px !important;
    }

    select {
      margin-bottom: 20px;
    }
  }
}