@import '../../utils/variables.scss';

#login {
  @extend %page-with-header;
  padding-top: 0;
  text-align: center;

  main {
    width: 100%;
    margin: auto;

    h1 {
      margin-bottom: 26px;
    }

    p {
      font-size: 16px;
    }

    &.error,
    &.not-authenticated {
      svg {
        font-size: 56px;
      }
    }
  }
}