#loading-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  user-select: none;
  pointer-events: none;

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.664);
    z-index: 999;
  }

  &.error {
    * {
      color: #ff7171;
    }

    svg {
      animation: none;
    }
  }

  svg {
    font-size: 28px;
    animation: loading-rotate .7s linear infinite;
  }
  
  span {
    display: block;
    margin-top: 16px;
    font-size: 16px;
    text-align: center;
  }
}


@keyframes loading-rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}