#modal {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.664);
  animation: fade-in .3s;
  user-select: none;
  z-index: 20;

  #modal-inner {
    display: flex;
    flex-direction: column;
    background-color: #36373c;
    width: calc(100% - 20px);
    margin: 0 auto;
    max-height: 90%;
    padding: 32px 16px;
    color: #FFF;
    box-shadow: 4px 4px 7px 0px #0000003d;
    animation: zoom-in 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

    >div {
      overflow-y: auto;
      flex: 1;
    }

    button.modal-close {
      background-color: transparent;
      color: #38f0ff;
      margin: 12px 8px -18px auto;
      padding: 0;
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}