.set-marks-menu {
  li.select-filter {
    position: relative;
    padding-top: 12px !important;

    &:hover,
    &:active {
      background-color: unset !important;
    }

    label {
      margin-top: 0 !important;
    }

    small {
      position: absolute;
      right: 10px;
      font-size: 10px;
      font-style: unset;
      text-align: center;
      color: #38c3ff;
    }
  }
}