.select-date {
  display: flex;
  justify-content: space-around;

  &.invalid {
    animation: blink-border .4s;
    animation-iteration-count: 2;
  }

  select {
    background-color: transparent;
    border: none;
    padding: 8px;
    color: #FFF;
    outline: none;
    width: unset;

    option {
      background-color: transparent;
      color: #000;
    }
  }
}


@keyframes blink-border {
  0% {
    box-shadow: inset 0px 0 0px 1px transparent;
  }

  70% {
    box-shadow: inset 0px 0 0px 1px #ec5353;
  }
  
  100% {
    box-shadow: inset 0px 0 0px 1px transparent;
  }
}