html,
body,
#root {
  height: 100%;
}

body {
  background-color: #202124;
  color: #FFF;
  font-size: 18px;

  &.no-scroll {
    overflow: hidden !important;
  }

  &.no-events {
    pointer-events: none;
  }

  input,
  textarea,
  button {
    font-size: 18px;
  }
}

svg {
  transform: translateY(-.1em);
}

button {
  padding: 12px 20px;
  border-radius: 4px;
  background-color: #2176AE;
  color: #FFF;
  border: none;
  outline: none !important;
  transition: opacity .3s;

  &:active {
    opacity: .6;
  }
}

input {
  &[type="text"],
  &[type="tel"],
  &[type="number"] {
    display: block;
    padding: 16px;
    margin: 16px 0;
    width: 100%;
    background-color: #26282b30;
    color: #FFF;
    border: 1px solid #5e6068;
    border-radius: 4px;

    &::placeholder {
      color: #919191;
    }
  }
}


select {
  background-color: transparent;
  padding: 16px 8px;
  color: #FFF;
  width: 100%;
  border: none;
  outline: none;

  &.border {
    border: 1px solid #5e6068;
  }

  option {
    background-color: transparent;
    color: #000;
  }
}

small {
  display: block;
  color: #b4b4b4;
  font-style: italic;
}