@import '../../utils/variables.scss';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background-color: #2176AE;
  user-select: none;
  z-index: 10;

  >div {
    display: flex;
    align-items: center;
    padding: 0 12px;
    height: 100%;
    transition: background-color .3s;

    &:not(.title):active {
      background-color: #4586b2;
    }

    svg {
      font-size: 28px;
      transform: none;
      cursor: pointer;
      transition: .3s;

      &:active {
        opacity: .6;
      }
    }
  }

  .title {
    flex: 1;
    font-weight: 500;
    display: block; // ellipsis doesn't work with flexbox
    height: auto;
    @extend %ellipsis-one-line;
  }

  .bigger {
    font-size: 20px;
  }
}