#search {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: stretch;
  align-items: center;
  background-color: #FFF;
  color: #000;
  width: calc(100% - 16px);
  height: 80%;
  margin: auto;
  z-index: 11;

  input {
    flex: 1;
    border: none;
    padding: 0 12px;
    outline: none;
    background-color: #FFF;
    color: #000;
  }
}
